html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Mencegah layar ter-scroll saat main */
  touch-action: none; /* Mencegah aksi zoom double-tap bawaan browser HP */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70c5ce;
}

canvas {
  width: 100% !important; /* Memaksa lebar 100% dari kontainer */
  height: auto !important; /* Tinggi akan menyesuaikan agar gambar tidak gepeng */
  max-height: 100vh;
  object-fit: contain;
  touch-action: none; /* Kunci sentuhan khusus pada canvas */
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
